Repository dean-herit/herit: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/validate-component-tests.js, eslint --fix, prettier --write, bash -c "npm run typecheck"

.lintstagedrc.json:

{
  "components/**/*.tsx": [
    "node scripts/validate-component-tests.js",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix", 
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c \"npm run typecheck\""
  ]
}

fix: resolve Cypress v15 dependency conflict in Vercel builds
  package.json
Due: prettier --write

fix: remove cypress-real-events to resolve Cypress v15 dependency conflict
  package.json
Due: prettier --write

fix: configure Vercel to use pnpm and restore testing dependencies
  CLAUDE.md
  package.json
  vercel.json
Due: prettier --write

fix: configure Vercel to use pnpm v9 for compatibility
  vercel.json
Due: prettier --write

fix: install pnpm v9 globally before running install in Vercel build
  vercel.json
Due: prettier --write

fix: use npx pnpm@9 to ensure correct version in Vercel build
  app/(dashboard)/dashboard/DashboardClient.stories.tsx
  components/auth/EmailLoginForm.stories.tsx
  components/auth/SignatureCanvas.cy.tsx
  components/beneficiaries/BeneficiaryCard.cy.tsx
  components/beneficiaries/BeneficiaryForm.stories.tsx
  components/documents/DocumentUploadZone.stories.tsx
  cypress.config.ts
  cypress/e2e/asset-management.cy.ts
  cypress/e2e/auth.cy.ts
  cypress/e2e/beneficiary-management.cy.ts
  cypress/e2e/document-management.cy.ts
  cypress/e2e/onboarding.cy.ts
  cypress/support/commands.ts
  cypress/support/component.ts
  cypress/tasks/db-tasks.ts
  vercel.json
Due: node scripts/validate-component-tests.js, eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: resolve Vercel build issues and Husky deprecation warnings
  .husky/post-commit
  .husky/pre-commit
  pnpm-lock.yaml
  vercel.json
Due: prettier --write

update: regenerate pnpm-lock.yaml with current dependencies
  pnpm-lock.yaml
Due: prettier --write

fix: update HeroUIProvider import to use @heroui/react
  app/providers.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: resolve Vercel build failures
  package.json
Due: prettier --write

enhance: implement Vercel-like pre-commit validation
  .husky/pre-commit
  .lintstagedrc.js
  eslint-plugins/storybook-cypress-compliance.js
  next.config.js
  package.json
  postcss.config.js
  tailwind.config.js
  vercel-env-check.js
Due: eslint --fix, prettier --write

enhance: run full Vercel validation on every commit
  .husky/pre-commit
Due: none

fix: resolve @heroui/link import issue and enhance validation
  components/LayoutWrapper.tsx
  tsconfig.strict.json
  vercel-env-check.js
Due: node scripts/validate-component-tests.js, eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: improve pre-commit hook error handling and exit behavior
  .husky/post-commit
  .husky/pre-commit
  vercel-env-check.js
Due: eslint --fix, prettier --write

fix: improve post-commit hook error handling
  .husky/post-commit
Due: none

fix: add strict environment variable validation to catch Vercel build failures
  .env.example
  package.json
  vercel-build-log.txt
  vercel-env-check.js
Due: eslint --fix, prettier --write

docs: add comprehensive Vercel deployment guide and readiness check
  VERCEL_DEPLOYMENT.md
  package.json
Due: prettier --write

fix: add missing Stripe environment variables to schema
  lib/env.ts
  vercel-env-check.js
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: add GOOGLE_REDIRECT_URI to vercel environment validation
  vercel-env-check.js
Due: eslint --fix, prettier --write

docs: add comprehensive component tests repair plan
  COMPONENT_TESTS_REPAIR_PLAN.md
Due: prettier --write

fix: completely repair LoginForm.cy.tsx - all 8 tests passing
  app/components/auth/LoginForm.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: EmailLoginForm.cy.tsx - split validation tests to avoid state persistence issues
  app/components/auth/EmailLoginForm.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: EmailSignupForm.cy.tsx - transform stub tests to comprehensive testing
  app/components/auth/EmailSignupForm.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: GoogleSignInButton.cy.tsx - create comprehensive OAuth button tests
  app/components/auth/GoogleSignInButton.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

remove: purge Apple and GitHub Sign-In functionality from system
  COMPONENT_TESTS_REPAIR_PLAN.md
  app/components/auth/AppleSignInButton.cy.tsx
  app/components/auth/AppleSignInButton.stories.tsx
  app/components/auth/AppleSignInButton.tsx
  app/components/auth/GithubSignInButton.cy.tsx
  app/components/auth/GithubSignInButton.stories.tsx
  app/components/auth/GithubSignInButton.tsx
  app/components/auth/LoginForm.cy.tsx
  app/components/auth/LoginForm.stories.tsx
  app/components/auth/LoginForm.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: complete ProtectedRoute.cy.tsx - comprehensive route protection testing
  app/components/auth/ProtectedRoute.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: complete AuthErrorHandler.cy.tsx - comprehensive error handling testing
  app/components/auth/AuthErrorHandler.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: complete PersonalInfoStep.cy.tsx - comprehensive onboarding form testing
  app/(auth)/onboarding/components/PersonalInfoStep.cy.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

feat: achieve 100% component test coverage with enhanced standards
  AUTOMATION_ROADMAP.md
  CLAUDE.md
  COMPLIANCE_FIX_EXAMPLE.md
  COMPONENT_TEST_COMPLIANCE_AUDIT.md
  COMPONENT_TEST_STANDARDS.md
  ENHANCED_TESTING_IMPLEMENTATION_SUMMARY.md
  README.md
  app/(auth)/onboarding/components/PersonalInfoStep.cy.tsx
  app/(auth)/onboarding/components/SignatureStamp-optimized.cy.tsx
  app/(auth)/onboarding/components/SignatureStamp.cy.tsx
  app/(auth)/onboarding/components/SignatureStep.cy.tsx
  app/_lib/error.cy.tsx
  app/components/auth/AuthErrorHandler.cy.tsx
  app/components/auth/EmailLoginForm.cy.tsx
  app/components/auth/EmailSignupForm.cy.tsx
  app/components/auth/GoogleSignInButton.cy.tsx
  app/components/auth/LoginForm-enhanced.cy.tsx
  app/components/auth/ProtectedRoute.cy.tsx
  app/components/shared/DependencyInjectionExample.cy.tsx
  app/components/shared/DependencyInjectionExample.tsx
  cypress/component/integration/onboarding-flow.cy.tsx
  cypress/support/component.ts
  cypress/support/integration-utils.ts
  cypress/support/test-utils.ts
  docs/BACKEND_TESTING_MASTER_PLAN.md
  docs/testing.md
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: resolve Google OAuth data importing in Personal Information step
  app/components/shared/SharedPersonalInfoForm.tsx
  app/components/shared/SharedPersonalInfoFormProvider.tsx
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"

fix: improve Google OAuth profile photo handling - filter placeholders and store locally
  app/api/auth/google/callback/route.ts
  app/lib/photo-utils.ts
Due: eslint --fix, prettier --write, bash -c "npm run typecheck"
